.sidenav-container {
    height: 100%;
  }
  
  .sidenav {
    width: 250px;
  }
  
  .mat-sidenav-container,
  .mat-sidenav-content,
  .mat-sidenav {
    height: 100%;
  }
  
  .app-title {
    margin-left: 20px;
  }
  
  mat-nav-list a {
    text-decoration: none;
    color: inherit;
  }
  
  mat-nav-list a:hover {
    background: rgba(0, 0, 0, 0.04);
  }
  
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
  }
  
  .close-icon {
    color: rgba(0, 0, 0, 0.54);
  }
  
  .spacer {
    flex: 1;
  }
  